@media all and (max-width: 991px) {
  .container{
    padding: 0 15px;
  }
  .horizontalCard_contain {
    width: 98%;
    flex-direction: column;
  }
  .horizontalCard_img{
    max-width: 100%;
  }
  .horizontalCard_text {
    max-width: 100%;
    order: -1;
  }
  .serviceIcon {
    font-size: 70px;
  }
  .anchuKogl_contain{
    width: 100%;
    margin: auto;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .anchukogl_img {
    width: 100%;
  }
  .yourTime_contain,
  .anchuKogl_text {
    width: 100%;
  }
}

@media all and (max-width: 767px) {
  .serviceContain {
    width: 100%;
    grid-template-columns: repeat(1,1fr);
  }
  .serviceSection {
    padding: 40px 0 70px 0;
  }
  .text_26 {
    font-size: 20px;
  }
  .yourTime_contain h2 {
    font-size: 32px;
    margin-bottom: 48px;
  }
  .yourSuccess_contain h2 {
    font-size: 30px;
  }
  .single_success h3 {
    margin: 45px 0 40px 0;
  }
}

@media all and (max-width: 567px) {
  .text_22{
    font-size: 18px;
    font-weight: 100;
    color: #000000;
    font-weight: 200;
  }
  .anchuKogl_section .container,
  .horizontalCard .container{
    padding: 0;
  }
  .horizontalCard_contain {
    width: 100%;
  }
  .anchuKogl_text,
  .horizontalCard_text {
    padding: 0 15px;
  }
  .horizontalCard_contain {
    gap: 20px;
  }
  .beknntAus_items{
    margin-top: 20px;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    gap: 20px;
  }
  .beknntAus_items img{
    max-width: 120px;
  }
  .beknntAus_contain h2 {
    font-size: 26px;
  }
  .horizontalCard {
    padding: 50px 0 0 0;
  }
  .anchuKogl_section {
    padding: 44px 0;
  }
  .anchuKogl_section h2 {
    font-size: 26px;
    padding: 0 15px;
    margin-bottom: 30px;
  }
}

@media all and (max-width: 450px) {
  .horizontalCard_btn {
    max-width: 100%;
  }
  .text_34 {
    font-size: 26px;
    font-weight: 500;
    line-height: 34px;
  }
  .horizontalCard_btn p{
    font-size: 14px;
  }
  .beknntAus {
    padding: 28px 0;
    background: rgb(237 238 239);
  }
  .beknntAus_items{
    grid-template-columns: repeat(2,1fr);
  }
  .text_26 {
    font-size: 16px;
  }
  .yourTime_section {
    padding: 60px 0;
  }
  .yourTime_btn {
    width: 100%;
  }
  .yourTime_contain h2 {
    font-size: 28px;
    margin-bottom: 40px;
  }
  .yourTime_contain ul li h3 {
    font-size: 22px;
  }
  .yourTime_contain ul li p {
    font-size: 16px;
    margin: 12px 0 40px 0;
  }
  .yourSuccess_contain h2 {
    font-size: 26px;
  }
  .single_success h3 {
    font-size: 20px;
    margin: 34px 0 26px 0;
  }
  .text_24 {
    font-size: 16px;
  }
  .yourSuccess_link{
    margin-top: 40px;
    font-size: 18px;
    text-align: center;
  }
}